@import "flex.less";
@media only screen and (max-width: 500px) {
  body {
    background-color: #000;
    font-size: 18px;
    .desktop-only {
      display: none !important;
    }
    #beatdown-page .read-block {
      padding: 0;
      border-width: 0;
      #beatdown-rules-nav .search-holder {
        margin: 0;
      }
      #beatdown-rules .rules-body {
        border-radius: 0;
      }
    }
  }
}
@media (min-width: 501px) {
  body {
    background-color: #def;
    background-image: url("/textures/noisy-net.png");
    .phone-only {
      display: none !important;
    }
    font-size: 16px;
    #app {
      padding: 20px;
    }
  }
}
body {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  .scrollable {
    overflow-y: auto;
  }
  #app-menu {
    background: black;
    font-size: 2em;
    color: white;
  }
  #app {
    font-family: Arial;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    text-shadow: 1px 1px 1px #000;
  }
  .read-block {
    border: 1px solid white;
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(7, 93, 132, 0.4)
  }
  a {
    color: white;
    text-decoration: none;
  }
}